<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h1>로그인</h1>

<form action="/users/login-success">
    <label for="id">아 이 디</label>
    <input type="text" id="id" name="id"><br><br>
    <label for="passwd">비밀번호</label>
    <input type="text" id="passwd" name="passwd"><br><br>
    <button type="submit" class="btn-primary">로그인</button>
    <a href="/users/new" class="link-primary">회원가입</a>

</form>

</body>
</html>